<style>
  mat-card {
    background-color: rgb(78, 72, 72);
  }

  mat-placeholder {
    color: rgb(44, 41, 41);
  }
</style>

<!-- Toolbar -->
<div style="background-image: linear-gradient(#7f00ff,#020202);">
  <mat-toolbar color="primary">
    <mat-toolbar-row style="min-height: 90px !important; height: 90px !important;">
      <span>
        <mat-form-field>
          <input matInput aria-label="Search">
          <mat-placeholder>Search</mat-placeholder>
        </mat-form-field>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Grid-list for different types of charts -->
  <mat-grid-list cols="3" rowHeight="4:3" gutterSize="6px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="background-color:rgb(46, 43, 43);">
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>