<!-- Toolbar -->

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <mat-form-field>
          <input matInput aria-label="Search">
          <mat-placeholder>Search</mat-placeholder>
        </mat-form-field>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
  <!-- Grid-list for different types of charts -->
  <mat-grid-list cols="3" rowHeight="4:3" gutterSize="6px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>