<!-- Toolbar -->

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <mat-form-field>
          <input matInput type="text">
          <mat-placeholder>Search</mat-placeholder>
        </mat-form-field>
      </span>
      <span class="spacer"></span>
      <div class="top-toggle">
       <mat-slide-toggle [checked]="checkedToggle" (toggleChange)="onToggleChange()"></mat-slide-toggle> 
       <mat-slide-toggle [checked]="checkedToggle" (toggleChange)="onToggleChange()"></mat-slide-toggle> 
       <mat-slide-toggle [checked]="checkedOtherToggle" (toggleChange)="onToggleChange()"></mat-slide-toggle> 
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container">
  <!-- Grid-list for different types of charts -->
  <mat-grid-list cols="3" rowHeight="4:3" gutterSize="6px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="allocatedBudget" [height]="200" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 1
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 2
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          Dial 3
        </mat-card-title>
        <zingchart-angular [config]="websiteTraffic" [height]="250" [width]="400"></zingchart-angular>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-slide-toggle></mat-slide-toggle> 
    <mat-slide-toggle></mat-slide-toggle> 
    <mat-slide-toggle></mat-slide-toggle> 
  </mat-toolbar-row>
</mat-toolbar>